# Opsional override manual.
# Untuk Expo Go di HP fisik, biasanya gunakan IP laptop di jaringan yang sama.
# Contoh: EXPO_PUBLIC_API_URL=http://192.168.0.113:8000/api
EXPO_PUBLIC_API_URL=http://127.0.0.1:8000/api
